* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Cambiado a Poppins */
}

.home-container {
  background: url("../Assets/fondoGatos.png") no-repeat center center fixed;
  background-size: cover;
  color: #333;
}
