@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.shopping-cart {
  font-family: "Bubblegum Sans", cursive;
  background: url("../Assets/fondoCarrito.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.shopping-cart-header {
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.shopping-cart-main {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.shopping-cart-cart {
  width: 80%;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.shopping-cart-table {
  width: 100%;
  border-collapse: collapse;
}

.shopping-cart-table th,
.shopping-cart-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.shopping-cart-table th {
  background-color: #f4f4f4;
}

.shopping-cart-summary {
  text-align: right;
  margin-top: 20px;
}

.shopping-cart button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Bubblegum Sans", cursive;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.shopping-cart button:hover {
  background-color: #ff85c2;
  transform: scale(1.1);
}

.shopping-cart button:active {
  background-color: #ff4da6;
  transform: scale(0.95);
}

.shopping-cart-checkout {
  font-size: 1.2em;
  margin-top: 10px;
}

.cart-buttons button {
  margin-right: 20px;
}

.payment-inputs select {
  outline: #ff85c2;
  padding: 10px;
  width: 100%;
  display: flex;
}
