header {
  background-color: rgba(255, 182, 193, 0.9);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap; /* Evitar que los elementos se envuelvan */
}

nav .logo {
  font-size: 3rem;
  color: #ff1493;
  font-weight: bold;
  margin-right: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap; /* Asegurar una sola fila */
  gap: 1.5rem; /* Espaciado entre elementos */
}

.menu-left,
.menu-right {
  display: flex;
  flex-wrap: nowrap; /* Evitar saltos de línea */
}

.menu-right {
  align-items: center;
}

nav ul li a {
  color: #ff1493;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
  transition: color 0.3s ease, transform 0.3s ease;
  white-space: nowrap; /* Prevenir que el texto se divida */
}

.cart-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.2);
}
