@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.announcement2 {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
  border: 2px solid #ff69b4; /* Borde rosa */
  border-radius: 8px; /* Bordes redondeados */
  padding: 1rem; /* Reducir el espaciado interno */
  margin-bottom: 1.5rem; /* Reducir espacio inferior */
  text-align: left; /* Alinear texto a la izquierda */
  font-family: "Bubblegum Sans", cursive; /* Fuente divertida */
  color: #333; /* Color del texto */
  position: absolute; /* Cambiar a posición absoluta si necesitas más control */
  left: 1rem; /* Mover más a la izquierda */
  top: 20rem; /* Aumentar este valor para mover más abajo */
  width: 510px; /* Ancho reducido */
  font-size: 1.3rem; /* Tamaño de la fuente reducido */
  font-weight: bold; /* Negritas para todo el texto */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  animation: bounce 1s infinite; /* Animación de rebote */
}

.announcement2 h3 {
  font-size: 1.8rem; /* Aumentar el tamaño del encabezado */
  color: #ff69b4; /* Color del encabezado */
  margin-bottom: 0.5rem; /* Espacio inferior del encabezado */
  font-family: "Bubblegum Sans", cursive; /* Fuente divertida */
  font-weight: bold; /* Negritas para el encabezado */
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
